<div class="container mx-auto">
    <div class="efg">
        <form th:action="@{/login}" method="POST" class="form-signin">
      
        <div align="center" th:if="${param.error}">
            <p style="font-size: 20; color: #FF1C19;">User Name or Password invalid, please verify</p>
            </div>
    <div class="form-group">
        <label for="inputEmail">Votremail</label>
        <input type="text" id="user_name" name="user_name" placeholder="User Name"
        class="form-control"/>
    </div><br/>
      <div class="form-group"> 
    <label for="inputPassword">Password </label>
    <input type="password" th:placeholder="Password"
    id="password" name="password" class="form-control"/>      
   </div><br/>

     
     
      <button type="submit" style ="background-color:#000;color:white"class="btn btn-primary">Submit</button>
      </form>


<form  method="get">
    <a  th:href="@{/inscription}" style="color: #000;margin-top:350px;font-weight:bold">S'inscrire ?</a>
</form>
      

  </div>
  <div class="aaa"> 
     
       </div>















<style>
   
  *{
      box-sizing: border-box;
  }
  
  body{
    background-image: url(/css/1.png);
  background-size: 100%;
      font-family: 'Open Sans', sans-serif;
      display: flex;
  
     
   
  }
  
  
  .efg{
      background-color: white;
      border-radius: 5px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
      width: 500px;
      height:500px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 50px;
      margin-right: 30px;
  }
  
  
  .container{
     
      border-radius: 5px;
     
      width: 1000px;
      height:590px ;
      display: flex;
      align-items: center;
      justify-content:space-between ;
     margin-top:70px;
      margin-left:170px;

  }
  .aaa {
      
    background-image: url(/css/1.png);

      width: 700px;
      height: 500px;
      display: flex;
     align-items: center;
      justify-content: center;
      font-weight: bold;
      font-size: 30px;
      color:#fff;
      margin-right: 30px;
  }
  
  h2{
      text-align: center;
      margin: 0 0 20px;
  }
  
  .form{
      padding: 30px 40px;
  }
  
  .form-control{
      margin-bottom: 10px;
      padding-bottom: 20px;
      position: relative;
  }
  
  .form-control label{
      color: #777;
      display: block;
      margin-bottom: 5px;
  }
  
  .form-control input{
      border: 2px solid #f0f0f0;
      border-radius: 4px;
      display: block;
      width: 100%;
      padding: 10px;
      font-size: 14px;
  }
  
  .form-control input:focus{
      outline: 0;
      border-color: #777;
  }
  
  .form-control.success input{
      border-color: var(--success-color);
  }
  
  .form-control.error input{
      border-color: var(--error-color);
  }
  
  .form-control small{
      color: var(--error-color);
      position: absolute;
      bottom: 0;
      left: 0;
      visibility: hidden;
  }
  
  .form-control.error small{
      visibility: visible;
  }
  
  .form button{
      cursor: pointer;
      background-color: #6F8DB0;
      border: 2px solid #6F8DB0;
      border-radius: 4px;
      color: #fff;
      display: block;
      font-size: 16px;
      padding: 10px;
      margin-top: 20px;
      width: 100%;
  }
  
  @media screen and(max-width:1000px) {
  
      .container{
          background-color: white;
          border-radius: 5px;
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
          width: 800px;
          height:880px ;
          display: flex;
          align-items: center;
          justify-content:space-between ;
          flex-direction: column;
      }
      .efg{
          background-color: white;
          border-radius: 5px;
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
          width: 500px;
          height: 500px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 50px;
          margin-right: 30px;
      }
      .aaa {
      
          background-image: #6F8DB0;
          border-radius: 5px;
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
          width: 500px;
          height: 400px;
          display: flex;
         align-items: center;
          justify-content: center;
          font-weight: bold;
          font-size: 30px;
          color:#fff;
          margin-right: 50px;
      }
  
  }
   
  </style>
  